//- Top bars/banners partial

if showOnboardingBar
  .onboarding-bar
    .container
      .row
        .col-md-12
          p Complete your profile to start connecting with the community!
          a.btn.btn-primary(href='/onboarding') Get Started
