//- Footer Partial

.row
  .col-md-3
    h4 About Simbi
    ul.list-unstyled
      li
        a(href='/about') About Us
      li
        a(href='/how-it-works') How It Works
      li
        a(href='/blog') Blog

  .col-md-3
    h4 Support
    ul.list-unstyled
      li
        a(href='/help') Help Center
      li
        a(href='/faq') FAQ
      li
        a(href='/contact') Contact Us

  .col-md-3
    h4 Community
    ul.list-unstyled
      li
        a(href='/communities') Communities
      li
        a(href='/stories') Success Stories
      li
        a(href='/events') Events

  .col-md-3
    h4 Follow Us
    .social-links
      a(href='https://facebook.com/simbiapp' target='_blank')
        i.fa.fa-facebook
      a(href='https://twitter.com/simbiapp' target='_blank')
        i.fa.fa-twitter
      a(href='https://instagram.com/simbiapp' target='_blank')
        i.fa.fa-instagram

.row.text-center.copyright
  .col-md-12
    p &copy; #{new Date().getFullYear()} Simbi. All rights reserved.
    p
      a(href='/terms') Terms of Service
      |  |
      a(href='/privacy') Privacy Policy
